<div id="<%= dom_id documentary %>">
  <p>
    <strong>Name:</strong>
    <%= documentary.name %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= documentary.director %>
  </p>

  <p>
    <strong>Año:</strong>
    <%= documentary.año %>
  </p>

</div>
