<h1>Editing documentary</h1>

<%= render "form", documentary: @documentary %>

<br>

<div>
  <%= link_to "Show this documentary", @documentary %> |
  <%= link_to "Back to documentaries", documentaries_path %>
</div>
