<div id="<%= dom_id pelicula %>">
  <p>
    <strong>Name:</strong>
    <%= pelicula.name %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= pelicula.director %>
  </p>

  <p>
    <strong>Año:</strong>
    <%= pelicula.año %>
  </p>

</div>
