<div id="<%= dom_id series %>">
  <p>
    <strong>Name:</strong>
    <%= series.name %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= series.director %>
  </p>

  <p>
    <strong>Año:</strong>
    <%= series.año %>
  </p>

</div>
